<div class='container'>
    <div class="row">
        <div class="col-sm-6">
            <h1>Psicólogos a medida</h1>
            <h2>Buscamos al mejor psicólogo para tratar tu caso</h2>
        </div>
        
        <!----------------------------------------- FORMULARIO DE ACCESO --------------------------------------->
        <div class="col-sm-6">
            <form>
                <fieldset class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="email" id="title" name="email" ng-model="paciente.email" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Contraseña</label>
                    <input class="form-control" type="password" id="password" name="password" ng-model="paciente.password" required>
                </fieldset>

                <input type="submit" class="btn btn-default" value="Acceder" ng-click="check(paciente)">
                <a href="#/registro"> ¿Todavía no estás registrado? </a>
            </form>
        </div>
    </div>
</div>