<div class='container'>

    <!---------------------------------------------- TITULO ------------------------------------------------------------->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Test de asignacion</h1>
        </div>
    </div>

    <!--------------------------------------------- CONSEJOS ------------------------------------------------------------>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-3">
            <img class="img-responsive img_cuestionario" src="/assets/images/reloj.png">
            <p class="text-center">Menos de 30 minutos</p>
        </div>
        <div class="col-sm-2">
            <img class="img-responsive img_cuestionario" src="/assets/images/angel_emoji.png">
            <p class="text-center">Responde honestamente</p>
        </div>
        <div class="col-sm-2">
            <img class="img-responsive img_cuestionario" src="/assets/images/diana.png">
            <p class="text-center">Sé preciso</p>
        </div>
    </div>

    <!---------------------------------------- BARRA DE PROGRESO --------------------------------------------------------->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="progress">
                <div class="progress-bar  progress-bar-striped bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <!-----------------------------------------------------FORMULARIO--------------------------------------------------->
    <form>
        <div class="form-group" data-ng-init="mostrarPreg()"> <!-- Se define el grupo de elementos que conforman el formulario -->
            <div ng-repeat="pregunta in preguntas" class="row"> <!-- Cada columna sera un elemento pregunta del array de preguntas el cual se obtiene del controlador -->
                <div class="col-sm-6 col-sm-offset-3 well well-lg"> <!-- Definimos el tamaño, formato y color de la caja -->
                    <label class="form-check-label"> <!-- Identificamos el elemento como formulario checklist -->
                        <!-- Para cada elemento seleccionado como cierto, a la pregunta se le añade el atributo SELECTED
ng-true-value es el valor que toma cuando esta seleccionado, y ng-false-value cuando esta deseleccinado-->
                        <input class="form-check-input position-fluid" type="checkbox" id="blankCheckbox" ng-model="pregunta.SELECTED"  ng-true-value="1" ng-false-value="0"/>
                        {{pregunta.pregunta}} <!-- Imprimimos el campo pregunta del objeto pregunta -->
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <!-- Boton Enviar que ejecuta la funcion check(preguntas) con su accionamiento -->
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="check(preguntas)">{{submit}}</button>
        </div>
    </form>

</div>