<!---------------------------------------------------------------------------------------------------------------------------------- BARRA DE NAVEGACION --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<nav class='container navbar-inverse' role='navigation' >
    <div class='navbar-header'>
        <a href='/#/inicio' class='navbar-brand logo'>
            <img class="ui tiny avatar image" src="/assets/images/emozio_logo.png">Emozio
        </a>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
        </button>
    </div>

    <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
        <li><a href='/#/inicio' class="navegacion">Inicio</a></li>
        <li><a href='/#/usuarios' class="navegacion">Resultados</a></li>
        <li class='dropdown'>
            <a href='/#/usuarios' data-target='#' class="dropdown-toggle navegacion" data-toggle='dropdown'>Perfil <span class='caret'></span></a>
            <ul class='dropdown-menu' role='menu'>
                <li><a href='#' class="navegacion">Modificar mis datos</a></li>
                <li class='divider'></li>
                <li><a href='/#/inicio' class="navegacion">Salir</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class='ui container'>

    <!------------------------------------------------------------------------------------------------------------------------------ INFORMACION GENERAL DEL PSICOLOGO ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">

            <div class="ui segment info_psicologo">
                <div class="ui container" >
                    <div class="col-xs-6">
                        <div class="ui left floated small image">
                            <img ng-src="{{psicologo.foto}}">
                        </div>
                        <h2 class="ui header nombre_psicologo">{{psicologo.nombre}}</h2>
                        <!--                                    <div class="ui left floated  star rating" data-rating="3"></div>-->
                        <a>Nº colegiado: {{psicologo.ncolegiado}}</a>
                        <br>
                        <span><i class="marker icon"></i>{{psicologo.localizacion}} </span>
                    </div>
                    <div class="col-xs-6">
                        <div class="ui extra content">
                            <span class="ui right aligned container"><h1>{{psicologo.precio}} <i class="euro icon"></i>/ sesión</h1></span>
                            <br>
                            <button type="button" class="ui right floated big teal button" data-target="#myModal" data-toggle="modal">
                                <i class="icon mail"></i> 
                                Contactar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------------------------------------------------------------------------------------------------------- FORMULARIO DE CONTACTO: Ventana emergente - overlay ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div class="modal fade left" id="myModal"> 
                <div class="modal-dialog"> 
                    <div class="modal-content"> 

                        <!-- Titulo -->
                        <div class="modal-header"> 
                            <h3 class="pull-left no-margin">Formulario de contacto</h3>
                            <button type="button" class="close" data-dismiss="modal" title="Close"><span class="glyphicon glyphicon-remove"></span>
                            </button> 
                        </div> 

                        <!-- Cuerpo del formulario -->
                        <div class="modal-body">
                            <form class="form-horizontal"> 
                                <div class="form-group"> 
                                    <label for="message" class="col-sm-3 control-label">
                                        <span class="required">*</span> Mensaje:</label> 
                                    <div class="col-sm-9"> 
                                        <textarea name="message" rows="4" required class="form-control" id="message" placeholder="Comentario"></textarea> 
                                    </div> 
                                </div> 
                                <div class="form-group"> 
                                    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3"> 
                                        <button type="submit" id="submit" name="submit" class="btn-lg btn-primary">Enviar</button> 
                                    </div> 
                                </div> 
                            </form>
                        </div>

                        <div class="modal-footer"> 
                            <div class="col-xs-10 pull-left text-left text-muted"> 
                                <small><strong>Política de privacidad:</strong>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit. 
                                    Mauris vitae libero lacus, vel hendrerit nisi! Maecenas quis 
                                    velit nisl, volutpat viverra felis. Vestibulum luctus mauris 
                                    sed sem dapibus luctus.</small> 
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div>
        </div>
    </div>

    <!------------------------------------------------------------------------------------------------------------------------------ INFORMACION ESPECIALIZADA DEL PSICOLOGO ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <div class='row features'>

        <div class='col-sm-4 col-sm-offset-2'>
            <div class="ui teal fluid card">
                <div class="content">
                    <div class="header">Formación</div>
                    <div class="description">
                        <p>{{psicologo.formacion}}</p>
                    </div>
                </div>
            </div>

            <div class="ui teal fluid card">
                <div class="content">
                    <div class="header">Experiencia</div>
                    <div class="description">
                        <p>{{psicologo.experiencia}}</p>
                    </div>
                </div>
            </div>

            <div class="ui teal fluid card">
                <div class="content">
                    <div class="header">Especialidad</div>
                    <div class="description">
                        <p>{{psicologo.especialidad}}</p>
                    </div>
                </div>
            </div>

            <div class="ui teal fluid card">
                <div class="content">
                    <div class="header">Terapias</div>
                    <div class="description">
                        <p>{{psicologo.terapia}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!---------------------------------------------------------------------------------------------------------------------- COMENTARIOS ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

        <div class='col-sm-4'>
            <h1>Comentarios</h1>
        </div>
    </div>

    <div class="row">
        <div class="well"></div>
    </div>

</div>
