<!---------------------------------------------------------------------------------------------------------------------------------- BARRA DE NAVEGACION --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<nav class='container navbar-inverse' role='navigation' >
    <div class='navbar-header'>
        <a href='/#/inicio' class='navbar-brand logo'>
            <img class="ui tiny avatar image" src="/assets/images/emozio_logo.png">Emozio
        </a>
        <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
        </button>
    </div>

    <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
        <div class="right menu">
            <div class="ui form" novalidate>
                <div class="inline fields">
                    <div class="field">
                        <input placeholder="Email" type="text" ng-model="paciente.email" required/>
                    </div>
                    <div class="field">
                        <input placeholder="Contraseña" type="password" ng-model="paciente.password" required/>
                    </div>
                    <div class="field">
                        <div class="ui green button" ng-click="check(paciente)">
                            Acceder
                        </div>
                    </div>
                    <div class="field">
                        <a class="ui grey button" href="/#/registro">
                            Registrar
                        </a>
                    </div>
                </div>
                <!--                <div>{{mensaje_error_acceso}}</div>-->
            </div>
        </div>  
    </ul>
</nav>

<!---------------------------------------------------------------------------------------------------------------------------------- FORMULARIO DE REGISTRO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
<div class='container'>
    <div class="row">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <div class="content">
                        <h1 class="ui teal header">Registro</h1>
                    </div>
                </h2>
                <form name="form" class="ui large form">
                    <div class="ui stacked secondary  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="email" name="email" placeholder="E-mail" ng-model="paciente.email" required>
                            </div>
                            <div class="ui pointing label" ng-show="form.email.$touched && form.email.$invalid">Por favor, introduzca un e-mail. </div>
                            <div class="ui red pointing label" ng-show="form.email.$error.email">El formato del e-mail es incorrecto. </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Contraseña" ng-model="paciente.password" required>
                            </div>
                            <div class="ui pointing label" ng-show="form.password.$touched && form.password.$invalid">Por favor, introduzca una contraseña. </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="marker icon"></i>
                                <input type="text" name="localizacion" placeholder="Localización" ng-model="paciente.localizacion" required>
                            </div> 
                            <div class="ui pointing label" ng-show="form.localizacion.$touched && form.localizacion.$invalid">Por favor, introduzca una localización. </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="call icon"></i>
                                <input type="tel" name="telefono" placeholder="Teléfono" ng-pattern="\d{9,9}" ng-model="paciente.telefono" required>
                            </div> 
                            <div class="ui pointing label" ng-show="form.telefono.$touched && form.telefono.$invalid">Por favor, introduzca un teléfono. </div>
                            <div class="ui red pointing label" ng-show="form.telefono.dirty && form.telefono.$invalid">El formato del teléfono es incorrecto. </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <div class="ui checkbox">
                                    <!--Se ha marcado por defecto el checkbox para que sea mas comodo para el usuario -->
                                    <div class="ui checkbox">
                                        <input type="checkbox" name="term_cond" id="term_cond" checked required>
                                        <label>Acepto las políticas de privacidad y los términos y condiciones de uso</label>
                                        <div class="ui pointing label" ng-show="form.term_cond.$touched && !term_cond">Por favor, introduzca un teléfono. </div>
                                    </div>                                
                                </div>
                            </div> 
                        </div>
                        <div class="ui fluid large teal submit button" ng-click="check(paciente)">Registrar</div>
                    </div>

                    <div class="ui error message"></div>

                    <div class="ui message">
                        ¿Eres un profesional de la psicología? <a href="https://s.codepen.io/voltron2112/debug/PqrEPM?">Contactar</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="well"></div>
    </div>
</div>

<style type="text/css">
    body > .grid {
        height: 100%;
    }
    .column {
        max-width: 450px;
    }
    .well {
        margin-bottom: 15%;
    }
    .ui.form .inline.fields {
        margin: 1.7em;
    }
</style>