<div class="ui inverted menu">
    <div class="ui container">
        <a class="header item" href="/#/inicio">
            <img class="ui mini avatar image" src="/assets/images/emozio_logo.png"><span><h4>Emozio</h4></span>
        </a>
        <div class="right menu">
            <div class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <input placeholder="Email" type="text" ng-model="paciente.email" required/>
                    </div>
                    <div class="field">
                        <input placeholder="Contraseña" type="password" ng-model="paciente.password" required/>
                    </div>
                    <div class="field">
                        <div class="ui green button" ng-click="check(paciente)">
                            Acceder
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui grey button" href="#/registro">
                            Registrar
                        </div>
                    </div>
                </div>
                <!--                <div>{{mensaje_error_acceso}}</div>-->
            </div>
        </div>
    </div>
</div>

<div class='container'>
    <div class="row">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui image header">
                    <div class="content">
                        <h1 class="ui header">Registro</h1>
                    </div>
                </h2>
                <form class="ui large form">
                    <div class="ui stacked secondary  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="email" placeholder="E-mail" ng-model="paciente.email" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Contraseña" ng-model="paciente.password" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="marker icon"></i>
                                <input type="text" name="localizacion" placeholder="Localización" ng-model="paciente.localizacion" required>
                            </div> 
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="call icon"></i>
                                <input type="tel" name="telefono" placeholder="Teléfono" ng-pattern="\d{9,9}" ng-model="paciente.telefono" required>
                            </div> 
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <div class="ui checkbox">
                                    <!--Se ha marcado por defecto el checkbox para que sea mas comodo para el usuario -->
                                    <div class="ui checkbox">
                                        <input type="checkbox" id="term_cond" checked required>
                                        <label>Acepto las políticas de privacidad y los términos y condiciones de uso</label>
                                    </div>                                
                                </div>
                            </div> 
                        </div>
                        <div class="ui fluid large teal submit button">Registrar</div>
                    </div>

                    <div class="ui error message"></div>

                    <div class="ui message">
                        ¿Eres un profesional de la psicología? <a href="https://s.codepen.io/voltron2112/debug/PqrEPM?">Contactar</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="well"></div>
    </div>
</div>

<style type="text/css">
    .ui.form .inline.fields {
        margin: 0.5em;
    }
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 450px;
    }
    .well {
        margin-bottom: 15%;
    }
</style>
<!--
<div class="col-sm-6">
<h1>Psicólogos a medida</h1>
<h2>Buscamos al mejor psicólogo para tratar tu caso</h2>
</div>
-->

<!----------------------------------------- FORMULARIO DE REGISTRO --------------------------------------->
<!--
<div class="col-sm-6">
<form>
<fieldset class="form-group">
<label for="email">E-mail</label>
<input class="form-control" type="email" id="title" name="email" ng-model="paciente.email" required>
</fieldset>

<fieldset class="form-group">
<label for="password">Contraseña</label>
<input class="form-control" type="password" id="password" name="password" ng-model="paciente.password" required>
</fieldset>

<fieldset class="form-group">
<label for="localizacion">Localización</label>
<input class="form-control" type="text" id="localizacion" name="localizacion" ng-model="paciente.localizacion" required>
</fieldset>

<fieldset class="form-group">
<label for="teléfono">Telefono</label>
<input class="form-control" type="tel" id="telefono" name="telefono" ng-pattern="\d{9,9}" ng-model="paciente.telefono" required>
-->
<!-- ng-pattern: Expresion regular correspondiente a telefono -->
<!--
</fieldset>

<fieldset class="form-group">
<label class="form-check-label"></label>
Se ha marcado por defecto el checkbox para que sea mas comodo para el usuario 
<input class="form-check-input position-fluid" type="checkbox" id="term_cond" checked/>
Acepto las políticas de privacidad y los términos y condiciones de uso
</fieldset>


<input type="submit" class="btn btn-default" value="Registrarse" ng-click="check(paciente)">
</form>
</div>
-->
