/**************************************IMAGEN PORTADA***********************************************/

.portada, .ng-scope{
    background: url(/assets/images/1869.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 1300px 800px;
    background-color:rgba(0, 0, 0, 0.3);
    color: whitesmoke;
}

.jumbotron {
    background-color:rgba(0, 0, 0, 0.3); 
}

.ui.dividing.header, .ui.header {
    color: whitesmoke;
}

.equipo {
    color: teal;
}

.well {
    border-color: rgba(0, 0, 0, 0); 
    background-color:rgba(0, 0, 0, 0); 
}

.pregunta {
    color: black;
}

.ui.header.nombre_test {
    color: teal;
}

.sin_resultados {
    color: whitesmoke;
}

.ui.segment.resultado_psicologo {
    background-color:rgba(0, 0, 0, 0); 
}

.ui.segment.info_psicologo {
    background-color:rgba(0, 0, 0, 0.3); 
}

.ui.header.nombre_psicologo {
    color: whitesmoke;
}

/***********************************************************************************************************************************RESULTADO PACIENTES ******++++*************************************************************************************************************************/

/***********PRECIO FILTRO****************/
.precio_slider #slidecontainer {
    width: 100%;
}

.precio_slider.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.precio_slider.slider:hover {
    opacity: 1;
}

.precio_slider.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: teal;
    cursor: pointer;
}

.precio_slider.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: teal;
    cursor: pointer;
}