<!---------------------------------------------------------------------------------------------------------------------------------- BARRA DE NAVEGACION --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<nav class='container navbar-inverse' role='navigation' >
	<div class='navbar-header'>
		<a href='#/inicio' class='navbar-brand logo'>
			<img class="ui tiny avatar image" src="/assets/images/emozio_logo.png">Emozio
		</a>
		<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
			<span class='sr-only'>Toggle navigation</span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
		</button>
	</div>

	<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
		<li><a href='#/inicio' class="navegacion">Inicio</a></li>
		<li><a href='#/usuarios' class="navegacion">Resultados</a></li>
		<li class="dropdown navegacion seleccionado">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#/usuarios/modificar">Perfil
				<span class="caret"></span></a>
			<ul class="dropdown-menu navegacion_transparente">
				<li><a href='#/usuarios/modificar'>Modificar mis datos</a></li>
				<li class='divider'></li>
				<li><a ng-click="salir()">Salir</a></li>
			</ul>
		</li>
	</ul>
</nav>

<!---------------------------------------------------------------------------------------------------------------------------------- MODIFICAR DATOS ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class='container' ng-init="initAutocomplete()">
	<!--
<div class="row">
<h2 class="ui image header">		
<div class="content">
<h1 class="ui teal header">Modificar datos</h1>
</div>
</h2>
</div>
-->
	<div class="row">
		<div class="col-xs-5">
			<div id="change_form" class="ui large form">
				<div class="ui stacked secondary  segment">
					<div class="ui header">
						<p>Modificar datos personales</p>
					</div>
					<!---------------------------------------------------------------------------------------------------------- EMAIL ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
					<div class="field">
						<div class="ui left icon input">
							<i class="mail icon"></i>
							<input type="email" name="email" placeholder="E-mail" ng-model="paciente.email" required>
						</div>
					</div>
					<!---------------------------------------------------------------------------------------------------------- GENERO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
					<div class="field" id="genero">
						<select class="ui compact selection dropdown" name="genero" ng-model="paciente.genero">
							<i class="dropdown icon"></i>
							<div class="menu">
								<option class="item" value="">Selecciona tu género</option>
								<option class="item" value="Femenino">Femenino</option>
								<option class="item" value="Masculino">Masculino</option>
								<option class="item" value="Agénero">Agénero</option>
								<option class="item" value="Andrógino">Andrógino</option>
								<option class="item" value="Berdache">Berdache</option>
								<option class="item" value="Bigénero">Bigénero</option>
								<option class="item" value="Género fluido">Género fluido</option>
								<option class="item" value="Género no-binario">Género no-binario</option>
								<option class="item" value="Hijra">Hijra</option>
								<option class="item" value="Hombre transexual">Hombre transexual</option>
								<option class="item" value="Intersexual">Intersexual</option>
								<option class="item" value="Mujer transexual">Mujer transexual</option>
								<option class="item" value="Pangénero">Pangénero</option>
								<option class="item" value="Transgénero femenino">Transgénero femenino</option>
								<option class="item" value="Transgénero masculino">Transgénero masculino</option>
								<option class="item" value="Transexual">Transexual</option>		
							</div>
						</select>
					</div>
					<!----------------------------------------------------------------------------------------------------------FECHA NACIMIENTO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
					<div class="field">
						<div class="ui calendar" id="edad">
							<div class="ui input left icon">
								<i class="calendar icon"></i>
								<input type="text" name="edad" placeholder="Fecha de nacimiento" ng-model="paciente.edad">
							</div>
						</div>
					</div>
					<!---------------------------------------------------------------------------------------------------------- LOCALIZACION ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
					<div class="field" id="locationField">
						<div class="ui left icon input">
							<i class="marker icon"></i>
							<input id="autocomplete" name="localizacion" placeholder="Localización" ng-focus="geolocate()" type="text" ng-model="paciente.localizacion" required>
						</div>
					</div>
					<!---------------------------------------------------------------------------------------------------------- TELEFONO ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
					<div class="field">
						<div class="ui left icon input">
							<i class="call icon"></i>
							<input type="tel" name="telefono" placeholder="Teléfono" ng-model="paciente.telefono" required>
						</div> 
					</div>
					<!---------------------------------------------------------------------------------------------------------- POLITICAS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
					<!--
<div class="required field">
<div class="ui checkbox">
<input type="checkbox" name="term_cond" checked>
<label>Acepto los términos y condiciones de uso</label>
</div>
</div>
-->
					<div class="ui fluid large teal submit button" ng-click="cambiarDatos(paciente)">Enviar</div>
					<div class="ui positive message" ng-show="msj_exito_datos">
						<i class="close icon"></i>
						<div class="header"> Datos modificados con éxito. </div>
					</div>
					<div class="ui negative message" ng-show="msj_error_datos">
						<i class="close icon"></i>
						<div class="header"> Los datos no se han modificado. </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-5 col-xs-offset-1">
			<div id="password_form" class="ui large form">
				<div class="ui stacked secondary  segment">
					<div class="ui header">
						<p>Modificar contraseña</p>
					</div>
					<div class="field">
						<label>Contraseña actual: </label>
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input type="password" name="passwordActual" placeholder="Contraseña" ng-model="paciente.passwordActual" required>
						</div>
					</div>
					<div class="field">
						<label>Nueva contraseña: </label>
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input type="password" name="passwordNueva" placeholder="Contraseña" ng-model="paciente.passwordNueva" required>
						</div>
					</div>

					<div class="ui fluid large teal submit button" ng-click="cambiarPassword(paciente)">Modificar contraseña</div>
					<div class="ui positive message" ng-show="msj_exito_password">
						<i class="close icon"></i>
						<div class="header"> Contraseña modificada con éxito. </div>
					</div>
					<div class="ui negative message" ng-show="msj_error_password">
						<i class="close icon"></i>
						<div class="header"> Los datos no se han modificado. </div>
					</div>
				</div>
			</div>
			<div class="ui large form baja_btn">
				<div class="ui segment">
					<div class="ui fluid large teal submit button" data-target="#baja_modal" data-toggle="modal">Darme de baja</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!---------------------------------------------------------------------------------------------------------------------------------------CONFIRMACION DE DARSE DE BAJA ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="ui container">
	<div class="modal fade" id="baja_modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">¿Estás seguros de que quieres continuar?</h4>
				</div>
				<div class="modal-body">
					Si cierras tu cuenta, perderás todos tus datos.
				</div>
				<div class="modal-footer">
					<div class="ui green button" ng-click="baja()">Continuar</div>
					<div class="ui grey button"  class="close" data-dismiss="modal" aria-label="Close">Cancelar</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	body > .grid {
		height: 100%;
	}
	.column {
		max-width: 450px;
	}
	.well {
		margin-bottom: 15%;
	}
	.ui.form .inline.fields {
		margin: 1.7em;
	}
</style>