<!-- BARRA DE NAVEGACION PACIENTES ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

<nav class='container navbar-inverse' role='navigation' >
	<div class='navbar-header'>
		<a href='#/inicio' class='navbar-brand logo'>
			<img class="ui tiny avatar image"  alt="Logo Emozio" src="/assets/images/emozio_logo.png">Emozio
		</a>
		<button type='button' aria-label="Botón menú"  class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
			<span class='sr-only'>Toggle navigation</span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
		</button>
	</div>

	<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
		<li class="navegacion"><a href='#/inicio'>Inicio</a></li>
		<li class="navegacion seleccionado"><a href='#/usuarios'>Resultados</a></li>
		<li><a href='#/usuarios/mail' class="navegacion">Mis solicitudes</a></li>
		<li class="dropdown navegacion">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#/usuarios">Perfil
				<span class="caret"></span></a>
			<ul class="dropdown-menu navegacion_transparente">
				<li><a href='#/usuarios/modificar'>Modificar mis datos</a></li>
				<li class='divider'></li>
				<li><a ng-click="salir()">Salir</a></li>
			</ul>
		</li>
	</ul>
</nav>

<!-- HACER EL TEST ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="container-fluid" id="perfil_paciente">

	<div class="row" id="main_test">
		<div class="col-xs-3 col-xs-offset-1">
			<button type="submit" aria-label="Hacer el test" class="ui fluid teal button" data-target="#aviso_modal" data-toggle="modal"> <i class="ui center write icon"></i> Hacer el test</button>
		</div>
		<div class="col-xs-7">
			<div class="ui container">
				<p>Para poder sugerirte al mejor psicólogo para tratar tu caso, ayúdanos cubriendo el siguiente test. Es breve y sencillo, solamente deberás responder sí o no a las preguntas.</p>
				{{psicologo.diagnostico}}
			</div>
		</div>
	</div>

	<div class="row">

		<!-- FILTRO ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
		<br>
		<div class="col-xs-2 col-xs-offset-1">
			<div class="ui container filtro">
				<div class="ui form segment">
					<div class="grouped fields">
						<label>Lugar de la consulta</label>
						<div class="field">
							<div class="ui slider checkbox">
								<input type="radio" aria-label="Consulta presencial" name="consulta" checked="checked" value="presencial" ng-model="psicologo.consulta">
								<label>Presencial</label>
							</div>
						</div>
						<div class="field">
							<div class="ui slider checkbox">
								<input type="radio" aria-label="Consulta on-line" name="consulta" value="online" ng-model="psicologo.consulta">
								<label>On-line</label>
							</div>
						</div>
					</div>
					<div class="field">
						<label>Precio</label>
						<select aria-label="Precio" class="ui compact selection dropdown" ng-model="psicologo.precio">
							<i class="dropdown icon"></i>
							<div class="menu">
								<option class="item" value="">Cualquiera</option>
								<option class="item" value="30">Menos de 30 €</option>
								<option class="item" value="50">Entre 30 € y 50 €</option>
								<option class="item" value="70">Entre 50 € y 70 €</option>
								<option class="item" value="90">Más de 70 €</option>
							</div>
						</select>
					</div>
					<div class="field">
						<label>Seguro médico</label>
						<select aria-label="Seguro médico" class="ui compact selection dropdown" ng-model="psicologo.seguro">
							<i class="dropdown icon"></i>
							<div class="menu">
								<option class="item" value="">Cualquiera</option>
								<option class="item" value="Adeslas">Adeslas</option>
								<option class="item" value="Allianz">Allianz</option>
								<option class="item" value="AXA">AXA</option>
								<option class="item" value="DKV">DKV</option>
								<option class="item" value="Mapfre">Mapfre</option>
								<option class="item" value="Mutua">Mutua</option>
								<option class="item" value="Sanitas">Sanitas</option>
								<option class="item" value="Santa Lucía">Santa Lucía</option>
							</div>
						</select>
					</div>

					<span id="demo"></span>
					<div class="field">
						<button aria-label="Filtrar por los criterios" id="filtro_button" type="submit" class="fluid ui teal button" ng-click="filtrar(psicologo)">
							<i class="icon search"></i>  Filtrar</button>
					</div>
					<div class="field">
						<button aria-label="Volver a mis resultados" id="mis_resultados_button" type="submit" class="fluid ui gray button" ng-click="recuperarMisResultados()">
							<p> <i class="bar chart icon"></i> Mis resultados </p> </button>
					</div>
				</div>
			</div>
		</div>

		<!-- RESULTADOS CUESTIONARIO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>               
		<div class="col-xs-6"> 
			<!--
<h2 class="titulo">
<i class="bar chart icon"></i>Mis resultados:
</h2>
-->

			<div>
				<div class="{{cuadro_mensaje}}">
					<h3 class="sin_resultados">{{mensajeResultados}}</h3>
				</div>
			</div>

			<!-- Bloque de info -->
			<div class="ui link cards">
				<!-- Bucle: Muestra la info de cada psicologo que pueda tratar la patologia del paciente -->
				<div class="ui card" ng-repeat="psicologo in psicologos">
					<div class="blurring dimmable image">
						<img alt="Foto del psicólogo" ng-src="{{psicologo.foto}}">
					</div>
					<div class="content" id="perfil_psicologo_contenido">
						<a class="header" href="#/psicologos/{{psicologo._id}}">{{psicologo.nombre}}</a>
						<!--						<div class="ui right floated star rating valoraciones" ng-init="iniciarRating(psicologo.estrellas)"></div>-->
<!--						<div class="ui right floated meta">{{psicologo.estrellas}}<i class="yellow star icon"></i> </div>-->
						<div class="meta"><i class="certificate teal icon"></i> {{psicologo.ncolegiado}} </div>
						<div class="description">{{psicologo.experiencia}} </div>
					</div>
					<div class="extra content" id="perfil_psicologo_contenido">
						<span class="right floated">{{psicologo.precio}} € / sesión</span>
						<span><i class="marker teal icon"></i>{{psicologo.localizacion}} </span>
					</div>

					<button aria-label="Pedir cita" type="button" id="contactar" class="ui gray bottom attached button" data-target="#contacto_modal" data-toggle="modal" data-id="psicologo._id" ng-click="psicologoSeleccionado(psicologo)">
						<i class="calendar outline icon"></i>
						Pedir cita</button>
				</div>
			</div>
		</div>
		<div class="col-xs-2">
			<div class="ui wide skyscraper test ad" id="publi_perfil">
				<img src="/assets/images/prueba1.png" alt="">
			</div>
		</div>
	</div>
</div>

<!-- FORMULARIO DE CONTACTO: Ventana emergente - overlay -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="ui container">
	<div class="modal fade" id="contacto_modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<!-- Titulo -->
				<div class="modal-header">
					<button type="button" aria-label="Cerrar" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Pedir cita</h4>
				</div>

				<!-- Cuerpo del formulario -->
				<div class="modal-body" ng-model="psicologo">
					<div class="ui form" id="contacto_form"> 
						<div class="required field"> 
							<label>Mensaje</label> 
							<textarea name="mensaje" rows="4" required class="form-control" placeholder="Escribe un mensaje" ng-model="mensaje.texto"></textarea> 
						</div>
						<div class="required field"> 
							<label>Preferencias horarias</label> 
							<textarea name="preferencias" rows="4" required class="form-control" placeholder="¿Cuando te vendría bien tener la cita? ¿Que días tienes disponibles? ¿Que franja horaria no podría ser?" ng-model="mensaje.preferencias"></textarea> 
						</div> 
						<div class="required grouped inline fields">
							<label>Lugar de la consulta</label>
							<div class="field" ng-show="psicologo.consulta.presencial">
								<div class="ui slider checkbox">
									<input type="radio" aria-label="Consulta presencial" name="consulta" checked="checked" value="Presencial" ng-model="mensaje.consulta">
									<label>Presencial</label>
								</div>
							</div>
							<div class="field" ng-show="psicologo.consulta.online">
								<div class="ui slider checkbox">
									<input type="radio" aria-label="Consulta on-line" name="consulta" value="Online" ng-model="mensaje.consulta">
									<label>On-line</label>
								</div>
							</div>
						</div>
					</div>
					<div class="ui positive message" ng-show="msj_exito_contacto">
						<i class="close icon"></i>
						<div class="header"> Hemos enviado tu mensaje al psicólogo. </div>
					</div>
				</div>

				<div class="modal-footer">
					<div class="ui green button" ng-click="enviarMensaje(mensaje)">Enviar</div>
					<div class="ui grey button"  class="close" data-dismiss="modal" aria-label="Close">Cancelar</div>
				</div>
			</div> 
		</div> 
	</div>
</div>

<!-- CONFIRMACION DE SOBREESCRIBIR RESULTADOS TEST -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="ui container">
	<div class="modal fade" id="aviso_modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" aria-label="Cerrar" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">¿Estás seguros de que quieres continuar?</h4>
				</div>
				<div class="modal-body">
					Si ya has realizado el test, tus resultados actuales se perderán.
				</div>
				<div class="modal-footer">
					<div class="ui green button" ng-click="hacer()">Continuar</div>
					<div class="ui grey button"  class="close" data-dismiss="modal" aria-label="Close">Cancelar</div>
				</div>
			</div>
		</div>
	</div>
</div>