<!--  BARRA DE NAVEGACION DE ACCESO ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<nav class='container navbar-inverse' role='navigation' >
	<div class="col-sm-6 col-xs-2">
		<div class='navbar-header'>
			<a href='#/inicio' class='navbar-brand logo'>
				<img class="ui tiny avatar image" src="/assets/images/emozio_logo.png">Emozio
			</a>
			<button type='button' id="acceso_nav" class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>
	</div>

	<div class="col-sm-6 col-xs-10">
		<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
			<div class="right menu">
				<div id="menu_fijo">
					<form id="access_form" class="ui form">
						<div class="fields">
							<div class="field">
								<div class="ui fixed left icon input">
									<i class="mail icon"></i>
									<input placeholder="Email" name="email" type="text" ng-model="usuario.email" required/>
								</div>
							</div>
							<div class="field">
								<div class="ui fixed left icon input">
									<i class="lock icon"></i>
									<input placeholder="Contraseña" name="password" type="password" ng-model="usuario.password" required/>
								</div>
							</div>
							<div class="field">
								<div class="ui green button" ng-click="check(usuario)">
									Acceder
								</div>
								<a class="ui pointing red label" ng-show="msj_error">E-mail o <br> contraseña <br> incorrectos.</a>
							</div>
							<div class="field">
								<a class="ui grey button" href="/#/registro">
									Registrar
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>  
		</ul>
	</div>
</nav>


<!-- FORMULARIO DE REGISTRO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class='container' ng-init="initAutocomplete()">
	<div class="row">
		<div class="ui middle aligned center aligned grid">
			<div class="column">
				<h2 class="ui image header"></h2>
				<div id="register_form" class="ui large form">
					<div class="ui stacked secondary  segment">
						<div class="ui header">
							<p>Registro</p>
						</div>
						<!-- EMAIL ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
						<div class="field">
							<div class="ui left icon input">
								<i class="mail icon"></i>
								<input type="email" name="email" placeholder="E-mail" ng-model="paciente.email" required>
							</div>
						</div>
						<!-- PASSWORD --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
						<div class="field">
							<div class="ui left icon input">
								<i class="lock icon"></i>
								<input type="password" name="password" placeholder="Contraseña" ng-model="paciente.password" required>
							</div>
						</div>
						<!-- GENERO ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
						<div class="field" id="genero">
							<select class="ui compact selection dropdown" name="genero" ng-model="paciente.genero">
								<i class="dropdown icon"></i>
								<div class="menu">
									<option class="item" value="">Selecciona tu género</option>
									<option class="item" value="Femenino">Femenino</option>
									<option class="item" value="Masculino">Masculino</option>
									<option class="item" value="Agénero">Agénero</option>
									<option class="item" value="Andrógino">Andrógino</option>
									<option class="item" value="Berdache">Berdache</option>
									<option class="item" value="Bigénero">Bigénero</option>
									<option class="item" value="Género fluido">Género fluido</option>
									<option class="item" value="Género no-binario">Género no-binario</option>
									<option class="item" value="Hijra">Hijra</option>
									<option class="item" value="Hombre transexual">Hombre transexual</option>
									<option class="item" value="Intersexual">Intersexual</option>
									<option class="item" value="Mujer transexual">Mujer transexual</option>
									<option class="item" value="Pangénero">Pangénero</option>
									<option class="item" value="Transgénero femenino">Transgénero femenino</option>
									<option class="item" value="Transgénero masculino">Transgénero masculino</option>
									<option class="item" value="Transexual">Transexual</option>		
								</div>
							</select>
						</div>
						<!-- FECHA NACIMIENTO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
						<div class="field">
							<div class="ui calendar" id="edad">
								<div class="ui input left icon">
									<i class="birthday icon"></i>
									<input type="text" name="edad" placeholder="Fecha de nacimiento">
								</div>
							</div>
						</div>
						<!-- LOCALIZACION ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
						<div class="field" id="locationField">
							<div class="ui left icon input">
								<i class="marker icon"></i>
								<input id="autocomplete" name="localizacion" placeholder="Localización" ng-focus="geolocate()" type="text" required>
							</div>
						</div>
						<!-- TELEFONO --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
						<div class="field">
							<div class="ui left icon input">
								<i class="call icon"></i>
								<input type="tel" name="telefono" placeholder="Teléfono" ng-model="paciente.telefono" required>
							</div> 
						</div>
						<!-- POLITICAS -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
						<div class="required field">
							<div class="ui checkbox">
								<input type="checkbox" name="term_cond" checked>
								<label>Acepto los <a href="" data-target="#term_cond_modal" data-toggle="modal">términos y condiciones de uso</a></label>
							</div>
						</div>

						<div class="ui error message"></div>

						<div class="ui fluid large teal submit button" ng-click="registrar(paciente)">Enviar</div>
					</div>

					<div class="ui message">
						¿Eres un profesional de la psicología? <a href="#/registro/psicologos">Contactar</a>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

<!--  TERMINOS Y CONDICIONES DE USO: Ventana emergente - overlay  ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="ui container">
	<div class="modal fade" id="term_cond_modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Términos y condiciones de uso</h4>
				</div>
				<div class="modal-body">
					<ul class="smooth-scroll list-unstyled">
						<li>
							<div class="ui container">
								<h4 class="ui teal header">1. Introducción</h4>Las presentes condiciones generales de uso de la página web, regulan los términos y condiciones de acceso y uso de www.emozio.com, propiedad de Emozio S.L. con Código de Identificación Fiscal número F12345678, en adelante, Emozio, que el usuario del Portal deberá de leer y aceptar para usar todos los servicios e información que se facilitan desde el portal. El mero acceso y/o utilización del portal, de todos o parte de sus contenidos y/o servicios significa la plena aceptación de las presentes condiciones generales de uso. 

							</div>
						</li>
						<br>
						<li>
							<div class="ui container">
								<h4 class="ui teal header">2. Condiciones de uso</h4>Las presentes condiciones generales de uso del portal regulan el acceso y la utilización del portal, incluyendo los contenidos y los servicios puestos a disposición de los usuarios en y/o a través del portal, bien por el portal, bien por sus usuarios, bien por terceros. No obstante, el acceso y la utilización de ciertos contenidos y/o servicios puede encontrarse sometido a determinadas condiciones específicas.

							</div>
						</li>
						<br>
						<li>
							<div class="ui container">
								<h4 class="ui teal header">3. Modificaciones</h4>La empresa se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del portal. En todo caso, se recomienda que consulte periódicamente los presentes términos de uso del portal, ya que pueden ser modificados.
							</div>
						</li>
						<br>
						<li>
							<div class="ui container">
								<h4 class="ui teal header">4. Obligaciones del Usuario</h4>El usuario deberá respetar en todo momento los términos y condiciones establecidos en las presentes condiciones generales de uso del portal. De forma expresa el usuario manifiesta que utilizará el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas. <br>

								Así mismo, el usuario no podrá utilizar el portal para transmitir, almacenar, divulgar promover o distribuir datos o contenidos que sean portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o perjudicar el funcionamiento de cualquier programa o equipo informático o de telecomunicaciones.
							</div>
						</li>
						<br>
						<li>
							<div class="ui container">
								<h4 class="ui teal header">5. Responsabilidad del portal</h4>El usuario conoce y acepta que el portal no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen desde el Portal. <br><br>

								Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la medida y extensión en que lo imponga, el Portal no garantiza ni asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios del Portal. <br><br>

								En todo caso, el Portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de la Empresa. Toda responsabilidad será del tercero ya sea proveedor o colaborador. <br>

							</div>
						</li>
						<br>
						<li>
							<div class="ui container">
								<h4 class="ui teal header">6. Propiedad intelectual e industrial</h4>Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de propiedad intelectual o industrial, que sean accesibles en el portal corresponden exclusivamente a la empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento integrante de las páginas web del Portal sin la autorización de la empresa, siempre que no sean a una página web del Portal que no requiera identificación o autenticación para su acceso, o el mismo esté restringido. <br><br>

								En cualquier caso, el portal se reserva todos los derechos sobre los contenidos, información datos y servicios que ostente sobre los mismos. El portal no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en las presentes condiciones generales de uso del portal. <br><br>

								Algunos de los vectores e imágenes del presente Portal pertenecen a terceros, por lo que su autoría y procedencia irá citada a continuación:

								<ul>
									<li><a href='https://www.freepik.es/vector-gratis/coleccion-de-avatares-de-equipo-de-negocios-en-diseno-plano_869566.htm'>Imágenes</a></li>
									<li><a href='https://formaldocs.com/2014/12/Modelo-de-condiciones-de-uso-de-una-pagina-web'>Textos jurídicos</a></li>
								</ul>

							</div>
						</li>
						<br>
						<li>
							<div class="ui container">
								<h4 class="ui teal header">7. Legislación aplicable, jurisdicción competente y notificaciones</h4>Las presentes condiciones se rigen y se interpretan de acuerdo con las Leyes de España. Para cualquier reclamación serán competentes los juzgados y tribunales de la Comunidad Autónoma de Galicia. Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que el Usuario desee efectuar a la Empresa titular del Portal deberán realizarse por escrito y se entenderá que han sido correctamente realizadas cuando hayan sido recibidas en la siguiente dirección emozio.info@gmail.com

							</div>
						</li>
						<br>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- ESTILO PAGINA ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<style type="text/css">
	body > .grid {
		height: 100%;
	}
	.column {
		max-width: 450px;
	}
	.well {
		margin-bottom: 15%;
	}
	#access_nav {
		margin-top: 8em;
	}
	#access_form {
		margin: 2em;
	}
	#menu_fijo {
		width: 50%;
	}
</style>
