<div class="ui inverted menu">
    <div class="ui container">
        <a class="header item">
            <img class="ui mini avatar image" src="/assets/images/emozio_logo.png"><span><h4>Emozio</h4></span>
        </a>
        <div class="right menu">
            <div class="ui form">
                <div class="inline fields">
                    <div class="field">
                        <input placeholder="Email" type="text" ng-model="paciente.email" required/>
                    </div>
                    <div class="field">
                        <input placeholder="Contraseña" type="text" ng-model="paciente.password" required/>
                    </div>
                    <div class="field">
                        <div class="ui green button" ng-click="check(paciente)">
                            Acceder
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui grey button" href="#/registro">
                            Registrar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="ui main text container">-->

<div class="portada">
    <div class="row">
        <div class="ui container">
            <div class="jumbotron">
                <h1>Psicólogos a medida</h1>      
                <h2>Buscamos al mejor psicólogo para tratar tu caso</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="two column row">
                    <div class="column">
                        <div class="ui container">
                            <div class="ui dividing header">
                                <h2><i class="circular inverted teal settings icon"></i>¿Cómo funciona?</h2>
                            </div>
                            <p>
                                Para poder asignarle al mejor psicólogo para tratar su caso, debe cubrir el siguiente test. Es breve y sencillo, sólamente deberá responder sí o no a las preguntas.
                            </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui container">
                            <div class="ui dividing header">
                                <h2><i class="circular inverted teal users icon"></i>¿Quiénes somos?</h2>
                            </div>
                            <div class="ui horizontal list">
                                <div class="ui item">
                                    <img class="ui mini circular image" src="/assets/images/alfonso.png">
                                    <div class="content">
                                        <h4 class="equipo">Bruno Rodríguez</h4>Psicologia</div>
                                </div>
                                <div class="ui item">
                                    <img class="ui mini circular image" src="/assets/images/maria.png">
                                    <div class="content">
                                        <h4 class="equipo">Raquel Gil</h4>Ingeniería informática</div>
                                </div>
                            </div>
                            <p>
                                Nuestro equipo promotor está compuesto por dos jóvenes emprendedores que gracias a nuestra vocación hacia la aportación de soluciones en el campo de la salud mental, se vio impulsada por la adecuada combinación entre nuestras experiencias y estudios, dando lugar a nuestro proyecto empresarial Emozio.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron"></div>

<div class='ui inverted vertical footer segment'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-4'>
                <h4>Nuestras redes sociales</h4>
                <button class="ui circular facebook icon button">
                    <i class="facebook icon"></i>
                </button>
                <button class="ui circular twitter icon button">
                    <i class="twitter icon"></i>
                </button>
                <button class="ui circular linkedin icon button">
                    <i class="linkedin icon"></i>
                </button>
                <button class="ui circular google plus icon button">
                    <i class="google plus icon"></i>
                </button>
            </div>

            <div class='col-sm-8'>
                <h4>Contacta con nosotros</h4>
                <div class="ui relaxed horizontal list">
                    <div class="item">
                        <i class='glyphicon glyphicon-globe'></i> Santiago de Compostela
                    </div>
                    <div class="item">
                        <i class='glyphicon glyphicon-phone'></i> 687954165
                    </div>
                    <div class="item">
                        <i class='glyphicon glyphicon-envelope'></i> <a href='mailto:#'> emozio.info@gmail.com</a>
                    </div>
                    <div class="ui right floated item">
                        <p>Emozio &copy;2017</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .ui.form .inline.fields {
        margin: 0.5em;
    }
</style>