<!-- BARRA DE NAVEGACION PACIENTE ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<nav class='container navbar-inverse' ng-show='nav_gen' role='navigation' >
	<div class='navbar-header'>
		<a href='#/inicio' class='navbar-brand logo'>
			<img class="ui tiny avatar image" alt="Logo Emozio" src="/assets/images/emozio_logo.png">Emozio
		</a>
		<button type='button' aria-label="Botón menú"  class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
			<span class='sr-only'>Toggle navigation</span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
		</button>
	</div>

	<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
		<li><a href='#/inicio' class="navegacion">Inicio</a></li>
		<li><a href='#/usuarios' class="navegacion">Resultados</a></li>
		<li><a href='#/usuarios/mail' class="navegacion">Mis solicitudes</a></li>
		<li class="dropdown navegacion">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#/psicologos/{{psicologo._id}}">Perfil
				<span class="caret"></span></a>
			<ul class="dropdown-menu navegacion_transparente">
				<li><a href='#/usuarios/modificar'>Modificar mis datos</a></li>
				<li class='divider'></li>
				<li><a ng-click="salir()">Salir</a></li>
			</ul>
		</li>
	</ul>
</nav>

<!-- BARRA DE NAVEGACION PSICOLOGO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
<nav class='container navbar-inverse' ng-show='nav_psico' role='navigation' >
	<div class='navbar-header'>
		<a href='#/inicio' class='navbar-brand logo'>
			<img class="ui tiny avatar image" alt="Logo Emozio" src="/assets/images/emozio_logo.png">Emozio
		</a>
		<button type='button' aria-label="Botón menú"  class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
			<span class='sr-only'>Toggle navigation</span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
		</button>
	</div>

	<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
		<li><a href='#/inicio' class="navegacion">Inicio</a></li>
		<li><a href='#/mail' class="navegacion">Mis solicitudes</a></li>
		<li><a href='#/psicologos/calendario' class="navegacion">Calendario</a></li>
		<li class="dropdown navegacion seleccionado">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#/psicologos/{{psicologo._id}}">Perfil
				<span class="caret"></span></a>
			<ul class="dropdown-menu navegacion_transparente">
				<li><a href="#/psicologos/{{psicologo._id}}">Cómo me ven</a></li>
				<li><a href='#/psicologos/modificar'>Modificar mis datos</a></li>
				<li class='divider'></li>
				<li><a ng-click="salir()">Salir</a></li>
			</ul>
		</li>
	</ul>
</nav>


<div class='ui container'>

	<div class="row">

		<div class="ui grid">

			<!-- TARJETA INFORMACION GENERAL PSICOLOGO ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
			<div class="four wide column">
				<div class="ui card">
					<div class="blurring dimmable image">
						<img alt="Foto del psicólogo" src="{{psicologo.foto}}">
					</div>
					<div class="content" id="perfil_psicologo_contenido">
						<div class="header">{{psicologo.nombre}}</div>
						<!--						<div class="ui right floated star rating valoraciones" ng-init="iniciarRating(psicologo.estrellas)"></div>-->
<!--						<div class="ui right floated meta">{{psicologo.estrellas}}<i class="yellow star icon"></i> </div>-->
						<div class="meta"><i class="certificate teal icon"></i> {{psicologo.ncolegiado}} </div>
						<div class="description"><i class="birthday teal icon"></i> {{psicologo.edad}} </div>
						<div class="description"><i class="teal user outline icon"></i> {{psicologo.genero}} </div>
						<div class="description"><i class="treatment teal icon"></i> {{psicologo.aseguradora}} </div>
						<div class="description" ng-show="psicologo.gabinete"><i class="ui teal users icon"></i> {{psicologo.gabinete}} </div>
						<div class="description"><i class="marker teal icon"></i>{{psicologo.localizacion}} </div>
					</div>
					<div class="extra content" id="perfil_psicologo_contenido">
						<span class="right floated">{{psicologo.precio}} € / sesión</span>
					</div>
					<button type="button" aria-label="Pedir cita" id="contactar" class="ui gray bottom attached button" data-target="#contacto_modal" data-toggle="modal" data-id="psicologo._id" ng-click="psicologoSeleccionado(psicologo)" ng-show="paciente">
						<i class="calendar outline icon"></i>
						Pedir cita</button>
				</div>
			</div>
			<!-- TARJETA INFORMACION ESPECIFICA PSICOLOGO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
			<div class="twelve wide column" >
				<div class='col-sm-6'>
					<div class="ui teal fluid card">
						<div class="content">
							<div class="ui teal header">Formación</div>
							<div class="description">
								<p>{{psicologo.formacion}}</p>
							</div>
						</div>
					</div>

					<div class="ui teal fluid card">
						<div class="content">
							<div class="ui teal header">Experiencia</div>
							<div class="description">
								<p>{{psicologo.experiencia}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class='col-sm-6'>
					<div class="ui teal fluid card">
						<div class="content">
							<div class="ui teal header">Terapias</div>
							<div class="description">
								<p>{{psicologo.terapia}}</p>
							</div>
						</div>
					</div>
					<div class="ui teal fluid card" ng-show="psicologo.especialidad">
						<div class="content">
							<div class="ui teal header">Especialidad</div>
							<div class="description">
								<p>{{psicologo.especialidad}}</p>
							</div>
						</div>
					</div>

				</div>

				<!-- COMENTARIOS Y VALORACIONES --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
				<div class="col-xs-9">
					<div class="ui segment" id="comentarios">
						<button aria-label="Comentar sobre el psicólogo" ng-show="paciente" type="button" id="comentar" class="ui right floated teal button" data-target="#comentar_modal" data-toggle="modal">
							<i class="comment icon"></i> 
							Comentar</button>

						<!--							<h3 class="ui teal header">Comentarios y valoraciones</h3>-->
						<p ng-show="paciente"><br></p>
						<div class="ui fluid comments">
							<div ng-repeat="comentario in comentarios | orderBy : 'fechaComentario' : true" >
								<div class="comment" id="comentario">
									<div class="content">
										<div class="metadata">
											<span class="date">{{comentario.fechaComentario}}</span> 
										</div>
										<div class="metadata">
											<span>{{comentario.valoracion}}<i class="ui yellow star icon"></i></span> 
										</div>
										<div class="text">
											<p>{{comentario.texto}}</p>
										</div>
										<br>
										<div class="ui bottom actions"  ng-hide="paciente||comentario.respuesta">
											<a class="reply" id="responder" data-target="#respuesta_modal" data-toggle="modal" data-id="comentario._id" ng-click="comentarioSeleccionado(comentario)">Responder</a>
										</div>
									</div>
									<div class="comments" ng-show="comentario.respuesta">
										<div class="comment">
											<a class="avatar">
												<img alt="Foto del psicólogo" src="{{psicologo.foto}}">
											</a>
											<div class="content">
												<a class="author">{{psicologo.nombre}}</a>
												<div class="metadata">
													<span class="date">{{comentario.fechaRespuesta}}</span>
												</div>
												<div class="text">{{comentario.respuesta}}</div>
											</div>
										</div>
									</div>

									<div class="ui divider"></div>

								</div>
							</div>
							<!--
<div class="ui borderless menu">
<a class="item" id="paginacion" ng-click="mostrarComentarios(numPag)" ng-repeat="numPag in paginas">{{numPag}}</a>
</div>
-->
							<!-- FORMULARIO ENVIO MENSAJES ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
							<!--
<form class="ui reply form" ng-show="paciente">
<div class="field">
<label>Comentario</label>
<textarea rows="2" ng-model="mensaje.texto" placeholder="Escribe aquí tu comentario"></textarea>
</div>
<div class="field">
<label>Valoración <div class="ui star rating"></div></label>
</div>
<div class="ui teal fluid submit icon button" ng-click="enviarComentario(mensaje)"><i class="icon edit"></i> Añadir commentario</div>
<div class="ui positive message" ng-show="msj_exito">
<i class="close icon"></i>
<div class="header"> Tu comentario ha sido publicado. </div>
</div>
</form>
-->
						</div>
					</div>
				</div>
				<div class="col-xs-3">
					<br>
					<div id="publi_mail" class="ui wide skyscraper test ad">
						<img src="/assets/images/prueba1.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- FORMULARIO DE RESPUESTA: Ventana emergente - overlay ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
	<div class="ui container">
		<div class="modal fade" id="respuesta_modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<!-- Titulo -->
					<div class="modal-header">
						<button type="button" aria-label="Cerrar" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="ui teal header">Responder</h4>
					</div>

					<!-- Cuerpo del formulario -->
					<div class="modal-body">
						<div class="ui fluid comments">
							<div class="comment" id="comentario">
								<div class="content">
									<div class="metadata">
										<span class="date">{{comentario.fechaComentario}}</span> 
									</div>
									<div class="metadata">
										<span>{{comentario.valoracion}}<i class="ui yellow star icon"></i></span> 
									</div>
									<!--									<div class="ui star rating valoraciones" ng-init="iniciarRating(comentario.valoracion)"></div>-->
									<div class="text">
										<p>{{comentario.texto}}</p>
									</div>
									<div class="actions">
										<form class="ui reply form" id="responder_form">
											<div class="field">
												<textarea name="comentario" rows="1" ng-model="respuesta"></textarea>
											</div>
											<div class="ui teal fluid submit icon button" ng-click="enviarRespuesta(comentario, respuesta)"><i class="icon edit"></i>Enviar respuesta</div>
										</form>
										<div class="ui positive message" ng-show="msj_exito_respuesta">
											<i class="close icon"></i>
											<div class="header"> Se ha publicado tu respuesta. </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> 
			</div> 
		</div>
	</div>

	<!-- FORMULARIO DE COMENTAR: Ventana emergente - overlay ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
	<div class="ui container">
		<div class="modal fade" id="comentar_modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<!-- Titulo -->
					<div class="modal-header">
						<button type="button" aria-label="Cerrar" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="ui header">Comentar</h4>
					</div>

					<!-- Cuerpo del formulario -->
					<div class="modal-body">
						<form class="ui reply form" ng-show="paciente" id="comentar_form">
							<div class="required field">
								<label>Comentario</label>
								<textarea rows="2" name="comentario" ng-model="mensaje.texto" placeholder="Escribe aquí tu comentario"></textarea>
							</div>
							<div class="field">
								<label>Valoración <div class="ui star rating"></div></label>
							</div>
							<div class="ui teal fluid submit icon button" ng-click="enviarComentario(mensaje)"><i class="icon edit"></i> Añadir comentario</div>
							<div class="ui positive message" ng-show="msj_exito">
								<i class="close icon"></i>
								<div class="header"> Tu comentario ha sido publicado. </div>
							</div>
						</form>
					</div>
				</div> 
			</div> 
		</div>
	</div>


	<!-- FORMULARIO DE CONTACTO: Ventana emergente - overlay -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
	<div class="ui container">
		<div class="modal fade" id="contacto_modal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<!-- Titulo -->
					<div class="modal-header">
						<button type="button" aria-label="Cerrar" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Pedir cita</h4>
					</div>

					<!-- Cuerpo del formulario -->
					<div class="modal-body" ng-model="psicologo">
						<div class="ui form" id="contacto_form"> 
							<div class="required field"> 
								<label>Mensaje</label> 
								<textarea name="mensaje" rows="4" required class="form-control" placeholder="Escribe un mensaje" ng-model="mensaje.texto"></textarea> 
							</div>
							<div class="required field"> 
								<label>Preferencias horarias</label> 
								<textarea name="preferencias" rows="4" required class="form-control" placeholder="¿Cuando te vendría bien tener la cita? ¿Que días tienes disponibles? ¿Que franja horaria no podría ser?" ng-model="mensaje.preferencias"></textarea> 
							</div> 
							<div class="required grouped inline fields">
								<label>Lugar de la consulta</label>
								<div class="field" ng-show="psicologo.consulta.presencial">
									<div class="ui slider checkbox">
										<input aria-label="Consulta presencial" type="radio" name="consulta" checked="checked" value="presencial" ng-model="mensaje.consulta">
										<label>Presencial</label>
									</div>
								</div>
								<div class="field" ng-show="psicologo.consulta.online">
									<div class="ui slider checkbox">
										<input aria-label="Consulta on-line" type="radio" name="consulta" value="online" ng-model="mensaje.consulta">
										<label>On-line</label>
									</div>
								</div>
							</div>
						</div>
						<div class="ui positive message" ng-show="msj_exito_contacto">
							<i class="close icon"></i>
							<div class="header"> Hemos enviado tu mensaje al psicólogo. </div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="ui green button" ng-click="enviarMensaje(mensaje)">Enviar</div>
						<div class="ui grey button"  class="close" data-dismiss="modal" aria-label="Close">Cancelar</div>
					</div>
				</div> 
			</div> 
		</div>
	</div>
</div>