<!---------------------------------------------------------------------------------------------------------------------------------- BARRA DE NAVEGACION DE ACCESO --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<nav class='container navbar-inverse' role='navigation' >
	<div class="col-sm-6 col-xs-2">
		<div class='navbar-header'>
			<a href='#/inicio' class='navbar-brand logo'>
				<img class="ui tiny avatar image" src="/assets/images/emozio_logo.png">Emozio
			</a>
			<button type='button' id="acceso_nav" class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse'>
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>
	</div>

	<div class="col-sm-6 col-xs-10">
		<ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
			<div class="right menu">
				<div id="menu_fijo">
					<form id="access_form" class="ui form">
						<div class="fields">
							<div class="field">
								<div class="ui fixed left icon input">
									<i class="mail icon"></i>
									<input placeholder="Email" name="email" type="text" ng-model="usuario.email" required/>
								</div>
							</div>
							<div class="field">
								<div class="ui fixed left icon input">
									<i class="lock icon"></i>
									<input placeholder="Contraseña" name="password" type="password" ng-model="usuario.password" required/>
								</div>
							</div>
							<div class="field">
								<div class="ui green button" ng-click="check(usuario)">
									Acceder
								</div>
								<a class="ui pointing red label" ng-show="msj_error">E-mail o <br> contraseña <br> incorrectos.</a>
							</div>
							<div class="field">
								<a class="ui grey button" href="/#/registro">
									Registrar
								</a>
							</div>
						</div>
					</form>
				</div>
			</div>  
		</ul>
	</div>
</nav>

<!---------------------------------------------------------------------------------------------------------------------------------- FORMULARIO DE REGISTRO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
<div class='container' ng-init="initAutocomplete()">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<!------------------------------------------------------------------------------------------------------------------ 3 STEPS ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
			<div class="ui three top attached steps">
				<div class="{{estado_1}} step paso_1">
					<i class="alarm outline icon"></i>
					<div class="content">
						<div class="title">Información del proceso</div>
						<div class="description">Te contamos cómo es nuestro proceso de selección</div>
						<!--
PALABRERIO IMPORTANTE QUE DEBEN SABER LOS PSICOLOGOS SOBRE LOS DATOS RECOGIDOS
QUE VAMOS A HACER CON ELLOS
-->
					</div>
				</div>
				<div class="{{estado_2}} step paso_2">
					<i class="address card outline icon"></i>
					<div class="content">
						<div class="title">Información personal</div>
						<div class="description">Necesitamos tus datos para contactar contigo</div>
					</div>
				</div>
				<div class="{{estado_3}} step paso_3">
					<i class="info icon"></i>
					<div class="content">
						<div class="title">Información profesional</div>
						<div class="description">Háblanos sobre tu formación y experiencia profesional</div>
					</div>
				</div>
			</div>
			<div class="ui attached segment">
				<!--------------------------------------------------------------------------------------------------------------STEP 1 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
				<div ng-show="paso_1">
					<div class="ui fluid large teal submit button" ng-click="changeStep(null)">Siguiente</div>
				</div>

				<!-----------------------------------------------------------------------------------------------------------STEP 2 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
				<div ng-show="paso_2">
					<div id="register_form_2" class="ui large form">
						<div class="ui stacked secondary  segment">
							<!----------------------------------------------------------------------------------------------------------NOMBRE ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
							<div class="field">
								<div class="ui left icon input">
									<i class="user icon"></i>
									<input type="text" name="nombre" placeholder="Nombre" ng-model="psicologo.nombre" required>
								</div>
							</div>
							<!---------------------------------------------------------------------------------------------------------- GENERO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
							<div class="field" id="genero">
								<select class="ui compact selection dropdown" name="genero" ng-model="psicologo.genero">
									<i class="dropdown icon"></i>
									<div class="menu">
										<option class="item" value="">Selecciona tu género</option>
										<option class="item" value="Femenino">Femenino</option>
										<option class="item" value="Masculino">Masculino</option>
										<option class="item" value="Agénero">Agénero</option>
										<option class="item" value="Andrógino">Andrógino</option>
										<option class="item" value="Berdache">Berdache</option>
										<option class="item" value="Bigénero">Bigénero</option>
										<option class="item" value="Género fluido">Género fluido</option>
										<option class="item" value="Género no-binario">Género no-binario</option>
										<option class="item" value="Hijra">Hijra</option>
										<option class="item" value="Hombre transexual">Hombre transexual</option>
										<option class="item" value="Intersexual">Intersexual</option>
										<option class="item" value="Mujer transexual">Mujer transexual</option>
										<option class="item" value="Pangénero">Pangénero</option>
										<option class="item" value="Transgénero femenino">Transgénero femenino</option>
										<option class="item" value="Transgénero masculino">Transgénero masculino</option>
										<option class="item" value="Transexual">Transexual</option>		
									</div>
								</select>
							</div>
							<!----------------------------------------------------------------------------------------------------------FECHA NACIMIENTO ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
							<div class="field">
								<div class="ui calendar" id="edad">
									<div class="ui input left icon">
										<i class="calendar icon"></i>
										<input type="text" name="edad" ng-model="psicologo.edad" placeholder="Fecha de nacimiento">
									</div>
								</div>
							</div>
							<!----------------------------------------------------------------------------------------------------------EMAIL ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
							<div class="field">
								<div class="ui left icon input">
									<i class="mail icon"></i>
									<input type="email" name="email" placeholder="E-mail" ng-model="psicologo.email" required>
								</div>
							</div>
							<!---------------------------------------------------------------------------------------------------------- LOCALIZACION ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
							<div class="field" id="locationField">
								<div class="ui left icon input">
									<i class="marker icon"></i>
									<input id="autocomplete" name="localizacion" placeholder="Localización" ng-focus="geolocate()" type="text" required>
								</div>
							</div>
							<!---------------------------------------------------------------------------------------------------------- TELEFONO -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
							<div class="field">
								<div class="ui left icon input">
									<i class="call icon"></i>
									<input type="tel" name="telefono" placeholder="Teléfono" ng-model="psicologo.telefono" required>
								</div> 
							</div>
							<!---------------------------------------------------------------------------------------------------------- POLITICAS DE PRIVACIDAD ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
							<div class="required field">
								<!--Se ha marcado por defecto el checkbox para que sea mas comodo para el usuario -->
								<div class="ui checkbox">
									<input type="checkbox" name="term_cond" id="term_cond" checked>
									<label>Acepto los <a href="" data-target="#term_cond_modal" data-toggle="modal">términos y condiciones de uso</a></label>
								</div>
							</div>
							<div class="ui fluid large teal submit button" ng-click="changeStep(psicologo)">Siguiente</div>
						</div>

					</div>
				</div>
				<!-----------------------------------------------------------------------------------------------------------STEP 3 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
				<div ng-show="paso_3">
					<div id="register_form_3" class="ui large form">
						<div class="ui stacked secondary  segment">
							<!---------------------------------------------------------------------------------------------------------- Nº COLEGIADO ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
							<div class="required field">
								<div class="ui left icon input">
									<i class="certificate icon"></i>
									<input type="text" name="ncolegiado" placeholder="Número de colegiado" ng-model="psicologo.ncolegiado" required>
								</div>
							</div>
							<!---------------------------------------------------------------------------------------------------------- EXPERIENCIA PROFESIONAL ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
							<div class="required field">                  
								<label>Experiencia profesional</label>
								<textarea name="experiencia" rows="2" placeholder="Introduzca una breve descripción de su experiencia profesional." ng-model="psicologo.experiencia"> </textarea>
							</div>
							<!---------------------------------------------------------------------------------------------------------- FORMACION ACADEMICA ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
							<div class="required field">
								<label>Formación académica</label>
								<textarea name="formacion" rows="2" placeholder="Introduzca títulos, cursos o acreditaciones académicas." ng-model="psicologo.formacion" required></textarea>
							</div>
							<!---------------------------------------------------------------------------------------------------------- TERAPIAS -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
							<div class="required field">
								<label>Terapias que realiza</label>
								<textarea name="terapia" rows="2" placeholder="Introduzca los distintos tipos de terapia." ng-model="psicologo.terapia" required></textarea>
							</div>
							<!---------------------------------------------------------------------------------------------------------- PATOLOGIAS -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
							<div class="required field">
								<label>Patologías</label>
								<textarea name="patologias" rows="2" placeholder="Introduzca las patologías que trata." ng-model="psicologo.patologias" required></textarea>
							</div>

							<!---------------------------------------------------------------------------------------------------------- ESPECIALIDAD ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
							<div class="field">
								<label>Otros datos de interés</label>
								<textarea name="especialidad" rows="2" placeholder="Introduzca alguna información que considere de interés. Por ejemplo, ¿está especializado en algún campo?" ng-model="psicologo.especialidad" required></textarea>
							</div>
							<div class="ui fluid large teal submit button" ng-click="changeStep(psicologo)">Enviar</div>
						</div>
					</div>
				</div>
				<div class="ui success message" ng-show="msj_exito">
					<div class="header"> Se han enviado sus datos para validar. </div>
					<p>Pronto nos pondremos en contacto con usted para confirmar el registro.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-------------------------------------------------------------------------------------------------------------------------------------- TERMINOS Y CONDICIONES DE USO: Ventana emergente - overlay ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="ui container">
	<div class="modal fade" id="term_cond_modal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Términos y condiciones de uso</h4>
				</div>
				<div class="modal-body">
					Texto del modal
				</div>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	body > .grid {
		height: 100%;
	}
	.column {
		max-width: 450px;
	}
	.well {
		margin-bottom: 15%;
	}
	/* Always set the map height explicitly to define the size of the div
	* element that contains the map. */
	#map {
		height: 0;
	}
	.ui.form .inline.fields {
		margin: 1.7em;
	}
	#access_nav {
		margin-top: 8em;
	}
	#access_form {
		margin: 2em;
	}
	#menu_fijo {
		width: 50%;
	}
</style>