<!DOCTYPE html>
<!-- Se incorpora la app Emozio y el castellano como idioma -->
<html ng-app="Emozio" lang="es">
    <head>
        <title>Emozio</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Estilo Bootstrap -->
        <link href='assets/styles/bootstrap.css' rel='stylesheet'> 
        <!-- Estilo propio de Emozio -->
        <link rel="stylesheet" href="assets/styles/emozio_style.css">
        <!-- Libreria estrellas rating -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Estilo Semantic UI -->
        <link rel="stylesheet" type="text/css" href="assets/semantic/dist/semantic.min.css">
    </head>
    <body class="template">

        <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

        <div ng-view></div>

        <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

    </body>

    <!-- JS-libraries -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="assets/semantic/dist/semantic.min.js"></script>
    <script src="assets/semantic/dist/my_semantic.js"></script>
    <script src="assets/javascript/vendor/angular.js"></script>
    <script src="assets/javascript/vendor/angular-route.js"></script>
    <script src="assets/javascript/vendor/angular-resource.js"></script>
    <script src="assets/javascript/vendor/bootstrap.js"></script>

    <!-- App -->
    <script src="assets/javascript/app.js"></script>
    <script src="assets/javascript/routes.js"></script>

    <!-- Directives -->

    <!-- Controllers -->
    <script src="assets/javascript/controllers/cuestionarioController.js"></script>
    <script src="assets/javascript/controllers/pacientesPerfilController.js"></script>
    <script src="assets/javascript/controllers/pacientesRegistroController.js"></script>
    <script src="assets/javascript/controllers/pacientesAccesoController.js"></script>
    <script src="assets/javascript/controllers/psicologosPerfilController.js"></script>

    <!-- Services -->
    <script src="assets/javascript/services/preguntas.js"></script>
    <script src="assets/javascript/services/paciente.js"></script>
    <script src="assets/javascript/services/patologia.js"></script>
    <script src="assets/javascript/services/psicologo.js"></script>

</html>